@model BibliotecaMVC.Models.Livro

@{
    ViewData["Title"] = "Livros";
}

<h2>Livro</h2>

<h3>Tem certeza que deseja remover esse livro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            <a asp-action="Index">Voltar para a lista</a>
        </div>
    </form>
</div>
