@model BibliotecaMVC.Models.Usuario

@{
    ViewData["Title"] = "Usu&aacute;rios";
}

<h2>Usu&aacute;rio</h2>

<h3>Tem certeza que deseja remover esse usu&aacute;rio?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            <a asp-action="Index">Voltar para a lista</a>
        </div>
    </form>
</div>
